<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <menuitem
        id="menu_wiki_root"
        name="Wiki"
        web_icon="wiki,static/description/icon.png"
    />
    <menuitem id="menu_wiki_child" name="Wiki" parent="menu_wiki_root"/>
    <menuitem id="menu_wiki" parent="menu_wiki_child" action="action_wiki"/>
    <menuitem id="menu_wiki_tag" parent="menu_wiki_child" action="action_wiki_tag"/>
</openerp>
