<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_education"
                  name="Education"
                  sequence="15"/>
            <menuitem id="menu_education_student"
                parent="menu_education"
                name="Students"
                sequence="1"/>
                <menuitem action="action_edu_res_partner_student"
                          id="menu_edu_res_partner_student"
                          parent="menu_education_student"
                          groups="education.group_education_student"
                          sequence="1"/>
                <menuitem action="action_edu_res_partner_student_admin"
                          id="menu_edu_res_partner_student_admin"
                          parent="menu_education_student"
                          groups="education.group_education_manager,education.group_education_user"
                          sequence="1"/>
                <menuitem action="action_edu_res_partner_tutor_admin"
                          id="menu_edu_res_partner_tutor_admin"
                          parent="menu_education_student"
                          groups="education.group_education_manager,education.group_education_user"
                          sequence="2"/>
                <menuitem action="action_edu_marks_bulletin"
                          id="menu_edu_marks_bulletin_tutor_admin"
                          parent="menu_education_student"
                          groups="education.group_education_manager,education.group_education_user"
                          sequence="3"/>

            <menuitem id="menu_education_teacher"
                parent="menu_education"
                name="Teachers"
                sequence="2"/>
                <menuitem action="action_edu_res_partner_teacher_admin"
                          id="menu_edu_res_partner_teacher_admin"
                          parent="menu_education_teacher"
                          groups="education.group_education_manager,education.group_education_user"
                          sequence="1"/>
                <menuitem action="action_edu_res_partner_teacher"
                          id="menu_edu_res_partner_teacher"
                          parent="menu_education_teacher"
                          groups="education.group_education_teacher"
                          sequence="1"/>
            <menuitem id="menu_education_training_plan"
                parent="menu_education"
                name="Training Plans"
                sequence="3"/>
                <menuitem action="action_edu_training_plan"
                          id="menu_edu_training_plan"
                          parent="menu_education_training_plan"
                          sequence="1"
                          groups="education.group_education_manager,education.group_education_user"/>
                <menuitem action="action_edu_training_plan_line"
                          id="menu_edu_training_plan_line"
                          parent="menu_education_training_plan"
                          sequence="2"
                          groups="education.group_education_manager,education.group_education_user"/>
                <menuitem action="action_edu_training_plan_classroom"
                          id="menu_edu_training_plan_classroom"
                          parent="menu_education_training_plan"
                          sequence="3"
                          groups="education.group_education_manager,education.group_education_user"/>
                <menuitem action="action_edu_training_plan_line_teacher"
                          id="menu_edu_training_plan_line_teacher"
                          parent="menu_education_training_plan"
                          sequence="3"
                          groups="education.group_education_teacher"/>
            <menuitem id="menu_education_enrollment"
                parent="menu_education"
                name="Enrollments"
                sequence="4"/>
                <menuitem action="action_edu_enrollment"
                          id="menu_edu_enrollment"
                          parent="menu_education_enrollment"
                          sequence="1"
                          groups="education.group_education_manager,education.group_education_user"/>
                <menuitem action="action_edu_enrollment_student"
                          id="menu_edu_enrollment_student"
                          parent="menu_education_enrollment"
                          sequence="1"
                          groups="education.group_education_student"/>
                <menuitem action="action_edu_enrollment_tutor"
                          id="menu_edu_enrollment_tutor"
                          parent="menu_education_enrollment"
                          sequence="1"
                          groups="education.group_education_tutor"/>
            <menuitem id="menu_education_configuration"
              parent="menu_education"
              name="Configuration"
              sequence="20"/>
                <menuitem action="action_edu_subject"
                          id="menu_edu_subject"
                          parent="menu_education_configuration"
                          sequence="4"
                          groups="education.group_education_manager,education.group_education_user"/>
                <menuitem action="action_edu_training_plan_typology"
                          id="menu_action_edu_training_plan_typology"
                          parent="menu_education_configuration"
                          sequence="5"
                          groups="education.group_education_manager,education.group_education_user"/>
                <menuitem action="action_edu_academic_training"
                          id="menu_action_edu_academic_training"
                          parent="menu_education_configuration"
                          sequence="6"
                          groups="education.group_education_manager,education.group_education_user"/>
                <menuitem action="edu_evaluations_action"
                          id="menu_action_edu_evaluations"
                          parent="menu_education_configuration"
                          sequence="7"
                          groups="education.group_education_manager,education.group_education_user"/>
    </data>
</openerp>
