// HR Employee PPE Report 1.0
// -----------------------------------------------------

// Report =====================================================================

div.page.o_hepr_report {
    font-family: sans-serif;
    table#table_lines td {
        font-size: 0.9em;
        vertical-align: middle;
    }
}

img.o_hepr_ppe_image {
    max-height: 3cm;
    max-width: 3cm;
}
