<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <!-- Mailchimp -->
        <menuitem id="menu_mailchimp_root"
            parent="base.menu_config"
            name="Mailchimp"/>
            <menuitem id="menu_mailchimp_config"
                parent="menu_mailchimp_root"
                action="action_mailchimp_config"
                name="Mailchimp configuration"/>
    </data>
</openerp>
