<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_invoice_draft_report"
                  parent="base.menu_invoiced"
                  action="action_invoice_draft_report"
                  groups="jlwenti_customize.group_allowed_draft_invoices"
                  sequence="20"/>

    </data>
</openerp>
