<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <template id="report_assets_common" inherit_id="web.report_assets_common">
        <xpath expr="." position="inside">
            <link rel="stylesheet" type="text/scss" href="/print_formats_base/static/src/scss/print_formats_base.scss"/>
        </xpath>
    </template>
</odoo>
