// Print Formats Base Report 1.0
// -----------------------------------------------------

// Layout ================================================================

.o_company_1_layout.o_report_layout_bold table thead tr th {
    border-top: 1px solid black !important;
}
.o_company_1_layout.o_report_layout_bold table tbody tr td {
    border-top: 1px solid #e9e9e9 !important;
}
.o_company_1_layout.o_report_layout_bold table tbody tr:last-child td {
    border-bottom: 1px solid black !important;
}
.o_report_layout_striped tbody tr:nth-child(odd) {
    background-color: #f4f4f4 !important;
}

// Header ================================================================

div[name="company_address"] {
    font-size: 10px;
    line-height: 1.2;
}

// Body ==================================================================

tbody {
    tr {
        page-break-inside: avoid !important; //Avoids thead overlapping in reports with several pages
    }
}

// Footer ================================================================

.o_clean_footer {
    border-top: none !important;
    .pagenumber {
        border: none !important;
        background-color: transparent !important;
        color: $o-default-report-primary-color !important;
        padding: 0px !important;
    }
}
.o_background_footer ul {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

// Tables ================================================================

.page .o_main_table thead {
    display: table-row-group !important;
}
tbody tr.o_line_section {
    color: $o-default-report-primary-color !important;
}
