<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem id="test_menu"
            name="Tests"
            parent="base.menu_base_partner"
            sequence="6"/>
            <menuitem id="test_m2m_domain"
                name="Test M2m Domain"
                parent="test_menu"
                sequence="1"
                action="action_test_m2mdomain"/>

    </data>
</openerp>
