// =====================================
// Portal Stock Picking Signature styles
// =====================================


// Portal Picking Signature --------------------------------------------------
//
// ##

.o_portal_pending_picking_sidebar {
    div#sidebar_content.card  {
        border: 1px solid #dedede !important;
    }
    div.card-body, form.modal-content {
        border: 0 !important;
    }
    hr {
        margin: 0.55rem 0;
    }
}
