<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem action="action_partner_cnae_cnae_form"
                  id="menu_action_partner_cnae_cnae_form"
                  parent="base.menu_config_address_book"
                  groups="base.group_no_one"/>

        <menuitem action="action_partner_cnae_cnae_risk"
                  id="menu_action_partner_cnae_cnae_risk"
                  parent="base.menu_config_address_book"
                  groups="base.group_no_one"/>

    </data>
</openerp>

