a.mb8.float_left.js_add_cart_json.disabled {
  color: gray;
  /* disable the pointer events */
  pointer-events: none;
}

span.input-group-addon.delete {
    border: 1px solid #ccc;
    border-right-width: 1.11;
    border-left-width: 1.11;
    border-left-width: 1px;
    border-right-width: 1‒;
    padding-top: 4px;
    padding-bottom: 4px;
}

i.fa.fa-trash {
    padding-top: 10px;
    border-right-width: 18px;
    padding-bottom: 10px;
    border-top-width: 1.11;
    border-bottom-width: 1.1;
    padding-right: 1px;
    padding-left: 1px;
}

.table.o_sbg_table > thead tr th,
.table.o_sbg_table > tbody tr th,
.table.o_sbg_table > thead tr td,
.table.o_sbg_table > tbody tr td {
  padding: 4px;
}

div.no_variants_grid_one > input.form-control {
  width: 140px;
}

.css_quantity.input-group.oe_website_spinner {
    display:  none;
}
#add_to_cart {
    display:  none;
}
#add_qty_grid {
  text-align: center;
}

.o_sbg_table.o_sbg_table_two thead > tr > td {
  text-align: center;
}
.o_sbg_table.o_sbg_table_two thead > tr > td:first-child {
  width: 30%;
}
.o_sbg_table.o_sbg_table_two tbody > tr > td:first-child img {
  height: auto;
  width: 40px;
}
.o_sbg_table.o_sbg_table_two tbody > tr > td:first-child span {
  font-size: .8em;
}
#add_to_cart_grid {
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.428571429;
}
#reset_grid {
  padding: 10px 18px;
  font-size: 15px;
  line-height: 1.428571429;
}

.js_wssg_loading {
    background-color: rgba(0,0,0,.15);
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

.js_wssg_spinner {
    color: #000000;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}

