<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="sale_commission.menu_agent_form"
                  parent="base.menu_sales"
                  action="sale_commission.action_agent_form"
                  sequence="3"
                  groups="base.group_sale_manager"/>
    </data>
</openerp>
