<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_edifact_sale_order"
                  parent="edifact.menu_edifact"
                  name="Sale Orders"/>
            <menuitem id="menu_import_edifact_sale_order"
                      parent="menu_edifact_sale_order"
                      name="Import Orders"
                      action="action_edifact_sale_order_import"
                      groups="edifact.group_edifact,base.group_sale_salesman"/>
    </data>
</openerp>
