// Stock Package Dummy reports 1.0
// -----------------------------------------------------

// Label ====================================================================

div.page {
    .o_spd_label {
        font-family: PT Sans Narrow, sans-serif;
        font-weight: 500;
        display: inline-block !important;
        padding: 10px 0;
        height: 370px;
        width: 520px;
        .o_spd_product_info {
            height: 125px;
        }
        div#product_name {
            height: 120px;
            padding-left: 25px;
            padding-right: 5px;
            overflow: hidden;
        }
        .o_spd_product {
            font-size: 2em;
        }
        div#code_lot {
            padding-right: 25px;
            padding-left: 5px;
            line-height: 0.5em;
        }
        .o_spd_code {
            font-size: 4em;
            font-weight: 700;
        }
        // div#package_barcode {
        //     img {
        //         border: solid 15px #000;
        //     }
        // }
    }
}
