<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_academy"
        name="Academy"
        web_icon="academy,static/description/icon.png"/>
    <menuitem id="menu_academy_student"
        parent="menu_academy"
        name="Students"
        sequence="1"/>
    <menuitem action="action_academy_res_partner_student"
        id="menu_action_academy_student"
        parent="menu_academy_student"
        groups="academy.group_academy_student"
        sequence="1"/>
    <menuitem action="action_academy_res_partner_student_admin"
        id="menu_action_academy_res_partner_student_admin"
        parent="menu_academy_student"
        groups="academy.group_academy_manager,academy.group_academy_user"
        sequence="1"/>
    <menuitem action="action_academy_res_partner_tutor_admin"
        id="menu_action_academy_res_partner_tutor_admin"
        parent="menu_academy_student"
        groups="academy.group_academy_manager,academy.group_academy_user"
        sequence="2"/>
    <menuitem action="action_academy_marks_bulletin"
        id="menu_action_academy_marks_bulletin_tutor_admin"
        parent="menu_academy_student"
        groups="academy.group_academy_manager,academy.group_academy_user"
        sequence="3"/>
    <menuitem id="menu_academy_teacher"
        parent="menu_academy"
        name="Teachers"
        sequence="2"/>
    <menuitem action="action_academy_hr_employee_teacher_admin"
        id="menu_action_academy_hr_employee_teacher_admin"
        parent="menu_academy_teacher"
        groups="academy.group_academy_manager,academy.group_academy_user"
        sequence="1"/>
    <menuitem action="action_academy_hr_employee_teacher"
        id="menu_action_academy_hr_employee_teacher"
        parent="menu_academy_teacher"
        groups="academy.group_academy_teacher"
        sequence="1"/>
    <menuitem id="menu_academy_training_plan"
        parent="menu_academy"
        name="Training Plans"
        sequence="3"/>
    <menuitem action="action_academy_training_plan"
        id="menu_action_academy_training_plan"
        parent="menu_academy_training_plan"
        sequence="1"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem action="action_academy_activity"
        id="menu_action_academy_activity"
        parent="menu_academy_training_plan"
        sequence="2"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem action="action_academy_activity_teacher"
        id="menu_action_academy_activity_teacher"
        parent="menu_academy_training_plan"
        sequence="3"
        groups="academy.group_academy_teacher"/>
    <menuitem id="menu_academy_enrollment"
        parent="menu_academy"
        name="Enrollments"
        sequence="4"/>
    <menuitem action="action_academy_enrollment_student"
        id="menu_action_academy_enrollment_student"
        parent="menu_academy_enrollment"
        sequence="1"
        groups="academy.group_academy_student"/>
    <menuitem action="action_academy_enrollment_tutor"
        id="menu_action_academy_enrollment_tutor"
        parent="menu_academy_enrollment"
        sequence="2"
        groups="academy.group_academy_tutor"/>
    <menuitem action="action_academy_enrollment"
        id="menu_action_academy_enrollment"
        parent="menu_academy_enrollment"
        sequence="3"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem id="menu_academy_configuration"
        parent="menu_academy"
        name="Configuration"
        sequence="20"/>
    <menuitem action="academy_evaluation_action"
        id="menu_action_academy_evaluation"
        parent="menu_academy_configuration"
        sequence="1"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem action="action_academy_evaluable_concept"
        id="menu_academy_evaluable_concept"
        parent="menu_academy_configuration"
        sequence="2"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem action="action_academy_evaluable_concept_mark"
        id="menu_academy_evaluable_concept_mark"
        parent="menu_academy_configuration"
        sequence="3"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem action="action_academy_typology"
        id="menu_action_academy_typology"
        parent="menu_academy_configuration"
        sequence="4"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem action="action_academy_academic_training"
        id="menu_action_academy_academic_training"
        parent="menu_academy_configuration"
        sequence="5"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
    <menuitem action="utm.utm_source_action"
        id="menu_academy_utm_source_action"
        parent="menu_academy_configuration"
        sequence="6"
        groups="academy.group_academy_manager,academy.group_academy_user"/>
</odoo>
