// Report Styles
// -----------------------------------------------------

//== Product Catalog
//
//##
.o_pcr_products {
    display: block;
}
.o_pcr_product {
    display: inline-block;
    float: left;
    height: 300px;
    margin-bottom: 30px;
    padding: 2%;
    width: 25%;
}
.o_pcr_product_image_wrap {
    display: block;
    height: 140px;
    margin-bottom: 0px;
    overflow: hidden;
}
.o_pcr_product_image_wrap img {
    display: block;
    height: 140px;
    margin: 0 auto;
    width: auto;
}
.o_pcr_product_name {
    display: block;
    height: 60px;
    overflow: hidden;
}
.o_pcr_product_description {
    display: block;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}
