<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <menuitem name="Commissions"
                  id="menu_sale_commissions_conf"
                  parent="booking.booking_menu_main_configuration" />
        <menuitem name="Commission types"
                  id="menu_sale_commissions_types"
                  parent="menu_sale_commissions_conf"
                  action="action_commission" />
        <menuitem name="Settlements"
                  id="menu_booking_settlements"
                  parent="booking.booking_menu_main_sale"
                  groups="base.group_sale_salesman,base.group_sale_manager"
                  action="action_settlement"
                  sequence="25"/>
        <menuitem id="menu_agent_form"
                  parent="booking.booking_menu_main_sale"
                  action="action_agent_form"
                  sequence="25"/>
        <menuitem id="menu_action_settlement_report"
                  parent="base.next_id_64"
                  sequence="80"
                  action="action_settlement_report"/>
    </data>
</openerp>
