<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
        id="menu_sale_return"
        parent="sale.sale_menu_root"
        name="Sale Return"
        sequence="2"/>
    <menuitem
        id="menu_sale_return_tree"
        parent="sale_return.menu_sale_return"
        action="sale_return.sale_order_return_action"
        sequence="1"/>
</odoo>
