.o_notification_timesheet_counter {
    margin-top: -0.8rem;
    margin-right: 0;
    margin-left: -0.6rem;
    background: #00A09D;
    color: white;
    vertical-align: super;
    font-size: 0.7em;
}
