<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>


<!--         CAMPAÑAS
            - Campañas
                Campañas
                Entrega de medios
                Medio
                ELIMINADO Ubicación de medio
                Tipo de medio
                Colaboracion
            - Encuestas
                - Encuestas
                    Encuestas
                    Respuestas
                - Configuración
                    Encuestas
                        Preguntas
 -->
        <menuitem id="menu_campaign_root"
                  name="Campaigns"
                  groups="campaign.group_campaign_admin,campaign.group_campaign_manager,campaign.group_campaign_salesman_manager,campaign.group_campaign_media_manager,campaign.group_campaign_survey_auditor,campaign.group_campaign_media_auditor,campaign.group_campaign_allow_import_export"/>
            <menuitem id="menu_campaign_child"
                      name="Campaigns"
                      parent="menu_campaign_root"
                      groups="campaign.group_campaign_admin,campaign.group_campaign_manager,campaign.group_campaign_salesman_manager,campaign.group_campaign_media_manager,campaign.group_campaign_survey_auditor,campaign.group_campaign_media_auditor,campaign.group_campaign_allow_import_export"
                      sequence="10"/>
                <menuitem id="menu_campaign"
                          action="marketing_campaign.action_marketing_campaign_form"
                          parent="menu_campaign_child"
                          groups="campaign.group_campaign_admin,campaign.group_campaign_manager,campaign.group_campaign_salesman_manager,campaign.group_campaign_media_manager,campaign.group_campaign_survey_auditor,campaign.group_campaign_media_auditor"
                          sequence="10"/>
                <menuitem id="menu_media_delivery"
                          action="action_media_delivery"
                          parent="menu_campaign_child"
                          groups="campaign.group_campaign_admin,campaign.group_campaign_media_auditor"
                          sequence="20"/>
                <menuitem name="Import media delivery lines"
                          id="menu_import_media_delivery_lines"
                          parent="menu_campaign_child"
                          action="action_wiz_import_media_delivery"
                          groups="campaign.group_campaign_allow_import_export"
                          sequence="30"/>
                <menuitem id="menu_media"
                          action="action_media"
                          parent="menu_campaign_child"
                          groups="campaign.group_campaign_admin,campaign.group_campaign_manager"
                          sequence="40"/>
                <menuitem id="menu_media_type"
                          action="action_media_type"
                          parent="menu_campaign_child"
                          groups="campaign.group_campaign_admin,campaign.group_campaign_manager"
                          sequence="50"/>
                <menuitem id="menu_collaboration4role_campaign_admin"
                          action="action_collaboration"
                          parent="menu_campaign_child"
                          groups="campaign.group_campaign_admin"
                          sequence="60"/>

            <menuitem id="menu_surveys"
                      name="Surveys"
                      parent="menu_campaign_root"
                      groups="campaign.group_campaign_admin,campaign.group_campaign_manager,campaign.group_campaign_survey_auditor,campaign.group_campaign_salesman_manager"
                      sequence="80"/>
                <menuitem id="menu_survey_form"
                          name="Surveys"
                          action="survey.action_survey_form"
                          parent="menu_surveys"
                          groups="campaign.group_campaign_admin"
                          sequence="1"/>
                <menuitem id="menu_survey_type_form14role_campaign_admin"
                          name="Answers"
                          action="survey.action_survey_user_input"
                          parent="menu_surveys"
                          groups="campaign.group_campaign_admin,campaign.group_campaign_manager,campaign.group_campaign_survey_auditor,campaign.group_campaign_salesman_manager"
                          sequence="2"/>
                <menuitem id="menu_survey_response_line_form"
                          name="User Input Lines"
                          action="survey.action_survey_user_input_line"
                          parent="menu_surveys"
                          groups="campaign.group_campaign_admin,campaign.group_campaign_manager,campaign.group_campaign_survey_auditor,campaign.group_campaign_salesman_manager"
                          sequence="3"/>
            <menuitem id="menu_campaing_settings"
                      name="Settings"
                      parent="menu_campaign_root"
                      groups="campaign.group_campaign_admin"
                      sequence="80"/>
                <menuitem id="menu_project_type_settings"
                          name="Project type"
                          action="campaign.action_marketing_project_type"
                          parent="menu_campaing_settings"
                          groups="campaign.group_campaign_admin"
                          sequence="1"/>
                <menuitem id="menu_issue_type_settings"
                          name="Issue type"
                          action="campaign.action_marketing_issue_type"
                          parent="menu_campaing_settings"
                          groups="campaign.group_campaign_admin"
                          sequence="1"/>
                <menuitem id="menu_collaboration_reason_settings"
                          name="Collaboration reason"
                          action="campaign.action_collaboration_reason"
                          parent="menu_campaing_settings"
                          groups="campaign.group_campaign_admin"
                          sequence="1"/>

    </data>
</openerp>
