// Website Sale Product Brand Grid 1.0
// -----------------------------------------------------

//== Search on page
//
//##

.js_wspbg_grid_search {
    .form-group {
        label {
            margin-right: 10px;
        }
    }
}

//== Toggle Info
//
//##

.o_wspbg_info_toggle_btn {
    .fa-plus { display: none; }
    .fa-minus { display: inline-block; }
    &.collapsed {
        .fa-plus { display: inline-block; }
        .fa-minus { display: none; }
    }
}
