<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem action="action_edu_attendance_sheet"
                  id="menu_edu_attendance_sheet"
                  parent="education.menu_education_teacher"
                  groups="education.group_education_teacher,education.group_education_user,education.group_education_manager"
                  sequence="2"/>
        <menuitem action="action_edu_attendance_sheet_line"
                  id="menu_edu_attendance_sheet_line"
                  parent="education.menu_education_student"
                  groups="education.group_education_manager,education.group_education_user"
                  sequence="3"/>
        <menuitem action="action_edu_attendance_sheet_line_student"
                  id="menu_edu_attendance_sheet_line_student"
                  parent="education.menu_education_student"
                  groups="education.group_education_student"
                  sequence="3"/>
        <menuitem action="action_edu_attendance_sheet_line_tutor"
                  id="menu_edu_attendance_sheet_line_tutor"
                  parent="education.menu_education_student"
                  groups="education.group_education_tutor"
                  sequence="1"/>
    </data>
</openerp>
