.modal-dialog .modal-content .modal-body .container {
  width: auto;
}

.form-group.required .control-label:after {
  content: '*';
  color: red;
}

#mycart_total .tax-overview .label {
  color: #000000;
  font-weight: normal;
}

#mycart_total .tax-overview td .oe_currency_value {
  font-size: 75%;
}

.o_website_sale_os_checkout label {
  display: block;
}
