<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <!-- menu for action variants_template_action -->
        <menuitem id="menu_variants_template_action" parent="product.prod_config_main" name="Product attribute value" action="variants_template_action2" groups="base.group_no_one"/>

        <!-- menu for action variants_product_attribute -->
        <menuitem id="menu_variants_product_attribute" parent="product.prod_config_main" name="Product attribute" action="variants_product_attribute_action" groups="base.group_no_one"/>
    </data>
</openerp>
