<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_agreement_root"
            name="Agreement"
            sequence="10"/>

            <!-- Agreement by fees -->
            <menuitem id="menu_agreement_title"
                parent="menu_agreement_root"
                name="Agreement"/>
                <menuitem id="menu_agreement_fees"
                    parent="menu_agreement_title"
                    action="action_agreement_fees"
                    name="by fees"/>
                <menuitem id="menu_agreement_amortization_lines"
                    parent="menu_agreement_title"
                    action="action_agreement_fees_amortization_line"
                    name="Amortization lines"/>

            <!-- Config -->
            <menuitem id="menu_financing_config_root"
                parent="menu_agreement_root"
                name="Configuration"/>
    </data>
</openerp>
