// Website Sale Product Grid 1.0
// -----------------------------------------------------

.js_wspg_grid_search {
    .form-group {
        label {
            margin-right: 10px;
        }
    }
}

.js_wspg_grid_table_item {
    .css_quantity {
        &.input-group {
            margin: 0 auto;
        }
    }
}

.o_wspg_variant_qty {
    text-align: center;
}

.js_wspg_cost_price {
    .product_price {
        margin-top: 0px !important;
    }
}

.o_wspg_info_toggle_btn {
    .fa-plus { display: none; }
    .fa-minus { display: inline-block; }
    &.collapsed {
        .fa-plus { display: inline-block; }
        .fa-minus { display: none; }
    }
}
