.glyphicon.o_my_glyphicon_2x{font-size:2em}
.glyphicon.o_my_glyphicon_3x{font-size:4em}
.glyphicon.o_my_glyphicon_4x{font-size:7em}
.glyphicon.o_my_glyphicon_5x{font-size:12em}
.glyphicon.o_my_glyphicon_6x{font-size:20em}
.o_my_avatar{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;margin:0 auto;width:100px}
.o_my_graph svg{height:20em}
.o_my_widget_value{font-size:34px}
.btn-myaccount-shortcut{margin-bottom:16px}
.messages .bg-primary,.errors .bg-primary,.messages .bg-success,.errors .bg-success,.messages .bg-info,.errors .bg-info,.messages .bg-warning,.errors .bg-warning,.messages .bg-danger,.errors .bg-danger{padding:15px}
@-webkit-keyframes rotating{from{-webkit-transform:rotate(0deg)} to{-webkit-transform:rotate(360deg)}}.spinner{display:none;-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}
.has-spinner.active{cursor:progress}
.has-spinner.active .spinner{display:inline-block}
.has-spinner.btn-mini.active .spinner{width:10px}
.has-spinner.btn-small.active .spinner{width:13px}
.has-spinner.btn.active .spinner{width:16px}
.has-spinner.btn-large.active .spinner{width:19px}
