<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_partner_subvention_main"
        name="Partner subventions"
        parent="contacts.menu_contacts"
    />
    <menuitem id="menu_partner_subvention"
        action="partner_subvention_action"
        name="Partner subventions"
        parent="menu_partner_subvention_main"
    />
</odoo>
