.js_wsrp_rating_popup {
    .js_wsrp_rating_popup_link {
        display: inline-block;
        .o_website_rating_static {
            display: inline-block;
            i {
                margin-right: 0rem;
            }
        }
    }
    .o_message_counter {
        display: inline-block;
        margin-left: 1rem;
    }
    .js_wsrp_rating_popup_card {
        position: absolute;
        z-index: 1000;
        .o_website_rating_static {
            display: inline-block;
            i {
                margin-right: 0rem;
            }
        }
        .js_wsrp_rating_avg {
            display: inline-block;
            margin-left: 1rem;
        }
        .o_website_rating_select {
            cursor: default !important;
        }
    }
}
