<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_education_schedule"
                  parent="education.menu_education"
                  name="Schedules"
                  sequence="5"/>
            <menuitem action="action_edu_schedule"
                      id="menu_edu_schedule"
                      parent="menu_education_schedule"
                      sequence="1"
                      groups="education.group_education_manager,education.group_education_user"/>
        <menuitem action="act_wizard_print_schedule_teacher"
                  id="menu_wizard_print_own_schedule_teacher"
                  parent="education.menu_education_teacher"
                  sequence="3"
                  groups="education.group_education_teacher"/>
        <menuitem action="act_wizard_print_schedule"
                  id="menu_wizard_print_schedule_teacher"
                  parent="education.menu_education_teacher"
                  sequence="4"
                  groups="education.group_education_teacher"/>
        <menuitem action="act_wizard_print_schedule_student"
                  id="menu_wizard_print_schedule_student"
                  parent="education.menu_education_student"
                  sequence="2"
                  groups="education.group_education_student"/>
        <menuitem action="act_wizard_print_schedule_tutor"
                  id="menu_wizard_print_schedule_tutor"
                  parent="education.menu_education_student"
                  sequence="2"
                  groups="education.group_education_tutor"/>
        <menuitem action="action_edu_time_slot"
                  id="menu_edu_time_slot"
                  parent="education.menu_education_configuration"
                  sequence="2"
                  groups="education.group_education_manager,education.group_education_user"/>
        <menuitem action="action_edu_period"
                  id="menu_edu_period"
                  parent="education.menu_education_configuration"
                  sequence="3"
                  groups="education.group_education_manager,education.group_education_user"/>
    </data>
</openerp>
