<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu"
                name="Cost simulator"
                parent="base.menu_base_partner"/>
        <menuitem id="menu_cost_simulator"
                  name="Simulations"
                  parent="menu"
                  action="sale_cost_simulator_action"/>
        <menuitem id="menu_cost_line"
                  name="Lines"
                  parent="menu"
                  action="sale_cost_line_list_action"/>
    </data>
</openerp>
