<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_edifact_account_invoice"
                  parent="edifact.menu_edifact"
                  name="Out Invoices"/>
            <menuitem id="menu_export_edifact_account_invoice"
                      parent="menu_edifact_account_invoice"
                      name="Export out invoices"
                      action="action_edifact_account_invoice_export"
                      groups="edifact.group_edifact,stock.group_stock_user"/>
    </data>
</openerp>
