<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem id="menu_stock_location_path"
                action="action_stock_location_path"
                parent="stock.menu_stock_configuration"
                sequence="20"
                groups="stock.group_locations"/>

    </data>
</openerp>