// Website Sale Reset Styles 1.0
// -----------------------------------------------------

//== Products
//
//##

#products_grid {
    .oe_product {
        height: inherit !important;
        vertical-align: top;
        .oe_product_image {
            position: inherit;
            img {
                position: inherit;
            }
        }
        section {
            background: transparent;
            border-top: none;
            position: inherit;
        }
        &.oe_grid {
            .oe_subdescription {
                max-height: none;
            }
        }
    }
}

@media (max-width: 768px) {
    #products_grid {
        .oe_product.oe_grid {
            section {
                background: transparent;
            }
        }
    }
}

//== Product
//
//##

@media (min-width: 768px) {
    #product_detail {
        .col-md-4 {
            flex: 0 0 66.66666667% !important;
            max-width: 66.66666667% !important;
        }
        .col-md-8 {
            flex: 0 0 33.33333333% !important;
            max-width: 33.33333333% !important;
        }
    }
}
