.o_sale_cost_compact_tree {
    table {
        table-layout: auto !important;
    }
    th.o_list_button,
    td.o_list_button {
        width: 1px !important;
        white-space: nowrap !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
