// Website Reset Styles 1.0
// -----------------------------------------------------

//== Interface
//
//##

#o_new_content_menu_choices .o_new_content_element a i {
    width: 110px !important;
}

//== Top Menu
//
//##

#top_menu {
    .divider {
        display: none;
    }
    a b {
        font-weight: normal !important;
    }
}

//== Login Page
//
//##

.oe_login_form, .oe_signup_form, .oe_reset_password_form {
    max-width: 540px;
}

//== Forms
//
//##

form label { font-weight: normal; }

//== Icons
//
//##

i {
    margin-right: 5px;
    width: auto !important;
    span {
        font-family: $font-family-base;
    }
}

//== Cookies
//
//##

.cc-cookies {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .cc-cookies {
        .col-sm-2.text-center {
            text-align: right !important;
        }
    }
}

@media (max-width: 575px) {
    .cc-cookies {
        .col-sm-2.text-center {
            margin-top: 16px;
        }
    }
}
