<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <template id="report_assets_common" inherit_id="web.report_assets_common">
        <xpath expr="." position="inside">
            <link href="/product_catalog_report/static/src/less/product_catalog_report.less" rel="stylesheet" type="text/less"/>
        </xpath>
    </template>
</odoo>
