<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem
            id="menu_discount_group_root"
            string="Discount Groups" name="Discount Groups"
            parent="product.menu_product_pricelist_main" sequence="10" groups="base.group_no_one"/>

            <menuitem
                action="action_discount_group" id="menu_discount_group"
                name="Discount Group"
                parent="menu_discount_group_root" sequence="10" groups="base.group_no_one"/>
            <menuitem
                action="action_discount_product_group" id="menu_discount_group_product"
                name="Product Group"
                parent="menu_discount_group_root" sequence="15" groups="base.group_no_one"/>
            <menuitem
                action="action_discount_partner_group" id="menu_discount_group_partner"
                name="Partner Group"
                parent="menu_discount_group_root" sequence="20" groups="base.group_no_one"/>

    </data>
</openerp>
