// Website Sale Offer Ribbon 1.0
// -----------------------------------------------------

.o_sor_ribbon_wrapper {
    display: block !important;
    height: 88px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    z-index: 5;
    .o_sor_ribbon {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        background-color: red;
        color: white;
        cursor: default;
        font: bold 15px Sans-Serif;
        left: -5px;
        padding: 7px 0;
        position: relative;
        text-align: center;
        top: 15px;
        width: 120px;
    }
}
