<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <menuitem
            action="action_product_promotion" id="menu_product_price_type"
            string="Promotion"
            parent="product.menu_product_pricelist_main" sequence="10" groups="base.group_no_one"/>
    </data>
</openerp>
