<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <!-- Warning messages -->
        <menuitem id="menu_warning_messaging_root"
            parent="base.menu_config"
            name="Warning messaging"/>
            <menuitem id="menu_warning_messages"
                parent="menu_warning_messaging_root"
                action="action_warning_messaging"
                name="Warning messaging"/>

        <!-- Config -->
        <menuitem id="menu_warning_messaging_config_root"
            parent="menu_warning_messaging_root"
            name="Configuration"/>
        <!-- Conditions -->
            <menuitem id="menu_warning_condition"
                parent="menu_warning_messaging_config_root"
                action="action_warning_condition"
                name="Warning conditions"/>
        <!-- Actions -->
            <menuitem id="menu_warning_action"
                parent="menu_warning_messaging_config_root"
                action="action_warning_action"
                name="Warning actions"/>

    </data>
</openerp>
